.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.self-right {
	align-self: flex-end;
}
